@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>Zapisz się!</h1>
    <p class="lead">Wybierz sam kiedy chcesz się zapisać do dentysty.</p>
    <p><a href="/Account/Register" class="btn btn-primary btn-lg">Rejestracja &raquo;</a></p>
</div>

<div class="row">
    <div class="col-md-4">
        <h2>Zobacz naszych dentystów</h2>
        <p>
            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aliquam sapien mauris, suscipit eget odio vitae, ornare scelerisque augue.
            Nullam imperdiet augue ac orci lobortis sagittis. Phasellus ornare eu augue quis porttitor. Mauris pulvinar imperdiet sapien sed sagittis. 
            Sed gravida mauris ut ante vehicula, sit amet mollis augue fermentum. Ut eget mauris a ligula vulputate aliquet. Vestibulum est ligula, tempus vitae porta nec, tempor a nibh.
        </p>
        <p><a class="btn btn-default" href="/Account/Login">Zaloguj się &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Zawsze możesz anulować spotkanie!</h2>
        <p>
            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aliquam sapien mauris, suscipit eget odio vitae, ornare scelerisque augue.
            Nullam imperdiet augue ac orci lobortis sagittis. Phasellus ornare eu augue quis porttitor. Mauris pulvinar imperdiet sapien sed sagittis.
            Sed gravida mauris ut ante vehicula, sit amet mollis augue fermentum. Ut eget mauris a ligula vulputate aliquet. Vestibulum est ligula, tempus vitae porta nec, tempor a nibh.
        </p>
        <p><a class="btn btn-default" href="/Account/Login">Zaloguj się &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Wygodne sprawdzenie swoich wizyt</h2>
        <p>
            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aliquam sapien mauris, suscipit eget odio vitae, ornare scelerisque augue.
            Nullam imperdiet augue ac orci lobortis sagittis. Phasellus ornare eu augue quis porttitor. Mauris pulvinar imperdiet sapien sed sagittis.
            Sed gravida mauris ut ante vehicula, sit amet mollis augue fermentum. Ut eget mauris a ligula vulputate aliquet. Vestibulum est ligula, tempus vitae porta nec, tempor a nibh.
        </p>
        <p><a class="btn btn-default" href="/Account/Login">Zaloguj się &raquo;</a></p>
    </div>
</div>