body {
    padding-top: 50px;
    padding-bottom: 50px;
}

/* Set padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

/* Override the default bootstrap behavior where horizontal description lists 
   will truncate terms that are too long to fit in the left column 
*/
.dl-horizontal dt {
    white-space: normal;
}

/* Set width on the form input elements since they're 100% wide by default */
input,
select,
textarea {
    max-width: 280px;
}

.margin-top-fieldset {
    margin-top: 50px;
}

.navbar-inverse .navbar-nav > li > form > a {
    color: #9d9d9d;
}

.nav > li > form {
    position: relative;
    display: block;
    padding: 10px 15px;
}

.inf-content {
    border: 1px solid #DDDDDD;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    border-radius: 10px;
    box-shadow: 7px 7px 7px rgba(0, 0, 0, 0.3);
}

.container.bootstrap.snippets.bootdey {
    margin-top: 50px;
}

@media (min-width: 768px) {
    .navbar-nav > li > form {
        padding-top: 15px;
        padding-bottom: 15px;
    }
}
