<ul class="nav navbar-nav navbar-right">
    @if (!Request.IsAuthenticated)
    {
        <li>
            @Html.ActionLink("Rejestracja", "Register", "Account", null, null)
        </li>
        <li>
            @Html.ActionLink("Logowanie", "Login", "Account", null, null)
        </li>
    }
    else
    {
        <li>
            @using (Html.BeginForm("Logout", "Account", FormMethod.Post, new { id="logoutForm" }))
            {
                <a href="javascript:document.getElementById('logoutForm').submit()">Logout</a>
            }
        </li>
    }
</ul>
